h1 {
    font-family: "Open Sans", sans-serif;
    color: springgreen;
}
h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
body{
    background-color: #15151A;
}
.paragrafos{
    color: white;
    font-family: 'Roboto', sans-serif;
}
#lista-de-habilidades{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: springgreen;
    list-style: circle ;
}
.habilidades-basicas{
    line-height: 16px;      
}
.habilidades-intermediarias{
    line-height: 18px;
}
.habilidades-avançadas{
    line-height: 16px;
}